*.pyc
output/
*.output
*.score
*.log
.DS_Store
venv
__pycache__
.DS_Store
*.egg-info
.ipynb_checkpoints
source.zip
output.zip

answer/.ipyb_checkpoints
answer/data/glove.6B.100d.magnitude
output.txt
data/glove.6B.100d.magnitude
answer/data/glove.6B.100d.txt
data/glove.6B.100d.txt
answer/pymagnitude
old_zipout.py
output_zip

answer/dev.out
answer/dev_33.txt
answer/dev_36.txt
answer/output_lexsub_41.txt
answer/output_test.zip
output_359366.zip
answer/output_test.txt

answer/junk
gensim_test.py

answer/data/retrofitted_glove.magnitude
answer/data/retrofitted_glove.txt
data/retrofitted_glove.magnitude
data/retrofitted_glove.txt
data/retrofitted_glove_.magnitude

data/retrofitted_glove_n11.magnitude
data/retrofitted_glove_n5.magnitude
data/retrofitted_glove_n8.magnitude
data/retrofitted_glove_n9.magnitude
output_36.zip
output_46.zip
output_460951.zip

answer/dev_46.txt
output_42.zip
output_49.zip
output1.zip
