__pycache__
.DS_Store
venv
log
output
output.zip
source.zip
answer/test_heap.py
test_log.txt


output_bayes.zip
output_prob.zip
output_prob_missingfn.zip
answer/zhsegment_check.py
answer/zhsegment_default.py
